!!!
html(ng-app="twitterAds")
	head
		meta(charset='utf8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		base(href='/')
		title Twitter Ads
		link(rel='stylesheet', href='/css/main.css')
		link(rel='stylesheet', href='//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css')
	body
		block body