div(ng-controller='InfluentialCtrl')
	h1 Influential Users

	div(class="text-center")
		pagination(total-items="totalItems" page="page" on-select-page="selectPage(page)" max-size="10")
	ul(class="list-group")
		li(class="list-group-item", ng-repeat='influentialUser in influentialUsers')
			p
				h4
					a(href="user/{{influentialUser.user.screen_name}}") {{influentialUser.user.screen_name}}
					span(class="label label-success pull-right")
						| {{influentialUser.influence_factor | number:6}}
		
				div(class="well well-sm")
					| Followers: {{influentialUser.user.followers_count}} |
					| Listed: {{influentialUser.user.listed_count}} |
					| Retweets per Tweet: {{influentialUser.tweets_retweet_mean}} |
					| Favorites per Tweet: {{influentialUser.tweets_favorite_mean}}
