div(ng-controller='TopicCtrl')
	h1 {{topic.text}}

	h2 Users
	div(class="text-center")
		div(ng-show="topicLoading" class="loading")
			div(class="label label-info") Loading..
	ul(class="list-group")
		li(class="list-group-item", ng-repeat="user in topic.users")
			a(href="/users/{{user.screen_name}}") {{user.screen_name}}
			span(class="badge")
				{{user.count}}

	h2 Ads
	div(class="text-center")
		div(ng-show="adsLoading" class="loading")
			div(class="label label-info") Loading..
	div(ng-show="ad.content !loading" class="panel panel-default")
		div(class="panel-body")	No ads found
	div(ng-repeat="ad in ads", ng-bind-html="ad.content")
