div(ng-controller='UserCtrl')
	div(style="height: 100px;")
		div(style="float: left;")
			img(src="{{user.profile_image_url | profile_image_bigger}}" style="margin-right: 5px;")
		div
			h1 {{user.screen_name}}
			p {{user.description}}

	ul(class="list-group")
		li(class="list-group-item", ng-repeat='topic in topics')
			a(href="/topics/{{topic.topic}}") {{topic.topic}}
			span(class="badge")
				{{topic.count}}

	table(class="table")
		colgroup
			col(class="col-xs-1")
			col(class="col-xs-7")
		tr
			td Name
			td {{user.name}}
		tr
			td Location
			td {{user.location}}
		tr
			td Tweets
			td {{user.statuses_count}}
		tr
			td Friends
			td {{user.friends_count}}
		tr
			td Followers
			td {{user.followers_count}}
		tr
			td Listed
			td {{user.listed_count}}
		tr
			td Favorites
			td {{user.favourites_count}}
