div(ng-controller='UserCtrl')
	div(style="height: 100px;")
		div(style="float: left;")
			img(src="{{user.profile_image_url | profile_image_bigger}}" style="margin-right: 5px;")
		div
			h1 {{user.screen_name}}
			p {{user.description}}

	ul(class="list-group")
		li(class="list-group-item", ng-repeat='topic in topics')
			a(href="/topics/{{topic.topic}}") {{topic.topic}}
			span(class="badge")
				{{topic.count}}

	pre
		{{user}}